<launch>

    <node
		pkg="stage_ros"
		type="stageros"
		name="emptyStage"
		args="$(find assignment5)/world/empty.world" 
	/>
	
    <node
		pkg="turtlebot_actions"
		type="turtlebot_move_action_server"
		name="move_action_server"
		launch-prefix="xterm -e"
	/>
	
	<node
		pkg="assignment5"
		type="move_triangle_client"
		name="move_triangle"
		launch-prefix="xterm -e"
	/>
	
	<node
		pkg="assignment5"
		type="triangle_publisher"
		name="triangle_publisher_cmd"
		output="screen"
	/>
	<param name="cw" value="true" />	
	<param name="sideLength" value="5" />	
</launch>
