<launch>
    <node
		pkg="stage_ros"
		type="stageros"
		name="emptyStage"
		args="$(find assignment3)/world/empty.world" 
	/>
    
    <node
		pkg="assignment3"
		type="steering_3"
		name="steering_Node"
		output="screen"
	/>
	
	<node
		pkg="assignment3"
		type="global_planner_trig"
		name="global_planner_triangle"
		launch-prefix="xterm -e"
	/>
	
	<!-- First top-right
		<param name="x1" value="5" />	
		<param name="y1" value="5" />	
		<param name="x2" value="17" />	
		<param name="y2" value="5" />	
		<param name="x3" value="10" />	
		<param name="y3" value="10" />	
		<param name="wayPointsDis" value="6" />
	-->
	
	<!-- Second top-left
		<param name="x1" value="-5" />	
		<param name="y1" value="5" />	
		<param name="x2" value="-17" />	
		<param name="y2" value="5" />	
		<param name="x3" value="-10" />	
		<param name="y3" value="10" />	
		<param name="wayPointsDis" value="6" />
	-->
	
	<!-- Third bottom-left	
		<param name="x1" value="-5" />	
		<param name="y1" value="-5" />	
		<param name="x2" value="-17" />	
		<param name="y2" value="-5" />	
		<param name="x3" value="-10" />	
		<param name="y3" value="-10" />	
		<param name="wayPointsDis" value="6" />
	-->
	
	<!-- Fourth bottom-right-->
		<param name="x1" value="5" />	
		<param name="y1" value="-5" />	
		<param name="x2" value="17" />	
		<param name="y2" value="-5" />	
		<param name="x3" value="10" />	
		<param name="y3" value="-10" />	
		<param name="wayPointsDis" value="6" />
	
	
	<!-- Second and third quadrands
		<param name="x1" value="-5" />	
		<param name="y1" value="-5" />	
		<param name="x2" value="11" />	
		<param name="y2" value="-11" />
		<param name="x3" value="17" />	
		<param name="y3" value="-7" />	
		<param name="wayPointsDis" value="5" />
	-->
	
    <param name="lookaheadRadius" value="8" />
	
	<node 
		pkg="tf" 
		type="static_transform_publisher" 
		name="static_Publisher" 
		args="0 0 0 0 0 0 1 map odom 100" 
	/>
   
	
</launch>
